<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-TeduShop.Web-20190423045650.mdf;Initial Catalog=aspnet-TeduShop.Web-20190423045650;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <clear />
  <add name="TeduShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-4041USJ\SQLEXPRESS;Initial Catalog=TeduShop;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />
</connectionStrings>