<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới trang
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a ui-sref="products">Trang</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddPage" role="form" ng-submit="AddPage()">
            <div class="box-body">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Tên trang</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-change="GetSeoTitle()" ng-maxlength="250" required id="name" name="name" ng-model="page.Name">
                        <span ng-show="frmAddPage.name.$invalid" class="has-error">Phải nhập tên trang</span>
                        <span ng-show="frmAddPage.name.$error.maxlength" class="has-error">Tên trang chỉ được 250 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="alias" class="col-sm-2 control-label">Tiêu đề SEO</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="alias" name="alias" ng-maxlength="250" required ng-model="page.Alias">
                        <span ng-show="frmAddPage.alias.$invalid" class="has-error">Phải nhập tiêu đề SEO</span>
                        <span ng-show="frmAddPage.alias.$error.maxlength" class="has-error">Tiêu đề SEO chỉ được 250 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Mô tả ngắn</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="description" name="description" ng-maxlength="500" ng-model="page.Description"></textarea>
                        <span ng-show="frmAddPage.description.$error.maxlength" class="has-error">Mô tả chỉ được 500 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">Nội dung</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="content" name="content" ckeditor="ckeditorOptions" ng-model="page.Content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="metaKeyword" class="col-sm-2 control-label">Meta Keyword</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="metaKeyword" name="metaKeyword" ng-model="page.MetaKeyword">
                    </div>
                </div>
                <div class="form-group">
                    <label for="metaDescription" class="col-sm-2 control-label">Meta Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="metaDescription" name="metaDescription" ng-model="page.MetaDescription"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-model="page.Status" ng-checked="page.Status"> Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="pages" class="btn btn-danger pull-right">Hủy</button>
                <button type="submit" ng-disabled="frmAddPage.$invalid" class="btn btn-success pull-right" style="margin-right: 10px;">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->