@using TeduShop.Web.Models;
@model FooterViewModel

<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="latter">
                <h6>NHẬN TIN MỚI</h6>
                <div class="sub-left-right">
                    <form>
                        <input type="text" value="Enter email here" placeholder="Nhập email của bạn" />
                        <input type="submit" value="Đăng ký" />
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="latter-right">
                <p>THEO DÕI</p>
                <ul class="face-in-to">
                    <li><a href="#"><span> </span></a></li>
                    <li><a href="#"><span class="facebook-in"> </span></a></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>
